#heading{
    text-align: center;
    background-color: lightblue;
    height: 50px;
}
#city-search{
    margin: 5px;
    margin-bottom: 25px;
}

.cityName{
    padding: 3px;
    padding-left: 5px;
    margin: 5px;
}
#weather-status{
    background-color: white;
}
#first-column{
    background-color: lightseagreen;
}
.weather-card{
    background-color: royalblue;
    
}
/* p{
    background-color: red;
} */